  <!--
  <p>
    For enquiries and orders, please fill out the form below or contact us
    directly
  </p>

  <form [formGroup]="contactForm" ngSubmit="onSubmit()">
    <div class="contact-fields">
      <div class="input-group mb-3">
        <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
        <input
          type="text"
          class="form-control"
          formControlName="name"
          placeholder="Your Name"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text"
          ><i class="bi bi-envelope-at-fill"></i
        ></span>
        <input
          type="text"
          class="form-control"
          formControlName="email"
          placeholder="Your Email"
        />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text"
          ><i class="bi bi-chat-dots-fill"></i
        ></span>
        <textarea
          class="form-control"
          type="text"
          placeholder="Your Message"
          formControlName="message"
        ></textarea>
      </div>
      <button type="button" class="btn-submit btn-sm">
        Send Message <i class="bi bi-send-fill"></i>
      </button>
    </div>
  </form>
</div>
-->
<div class="container-fluid contact" id="contact">

<div class="card-container">
  <div class="card">
    <div class="card-img-top">
      <img src="../assets/images/UniBio_nobg.png" class="logo"/>
    </div>
   </div> 
  <div class="card">
   <div class="card-title">
    <br>
     <h2>Contact Us</h2>
    </div>
    <div class="card-body">
      <p class="card-text1">UniBio (India) Hatcheries Pvt Ltd.<br>

        Survey No: 58/3, Mugaiyur Village,<br> Cheyyur Taluk, Chengalpattu Dt,<br> Tamil Nadu - 603305
      </p><br>
      <p class="card-text2">Tel: +91 8925774485</p>
    </div>
  </div>
  <div class="card">
    <div class="card-title ">
      <br>
     <h2>Navigation Links</h2>
    </div>
    <div class="card-body ">

   <p><a routerLink="/welcome" class="card-text1">About Us</a></p>
   <p><a routerLink="/about" class="card-text1">Monodon</a><br></p>
   <p><a href="#sustainability" class="card-text1">Sustainable Environment</a><br></p>
   <p><a href="#shrimponomy" class="card-text1">Shrimponomy</a><br></p>
  <hr>
  <p><a href="#insta"><img src="../assets/images/insta_icon.svg" style="height: 80px;width: 100px;"/></a>
  <a href="https://facebook.com/profile.php?id=100094896395572" target="_blank"><img src="../assets/images/fb_icon.svg" style="height: 80px;width: 100px;" /></a>
  </p>
  </div>
  </div>
</div>
</div>
