.contact{
  background-color:#5cbfb0 ;
}
.card-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
  padding: 1rem;
  .card {
    margin: 1rem;
    background-color: #5cbfb0;
    border:none;
   
  }
}

img{
  padding:0;
  width:80%;
}
.logo3,.logo4{
  max-width:20%;
  height: 100%;
  padding-left: 15px;
}
.logo2{
  max-width:20%;
  height: 82px;
}
.logo1{
  height:330px;
}

.card-title{
  color: #000000;
  padding-left: 16px;
  font-weight: 500;
}
.card-text1{
  color:#000000;
  font-size: 25px;
  font-weight:500;
  text-decoration: none;
}
h2{
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
