.contact{
  background-color:#5cbfb0 ;
}
.card-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
  
  .card {
    margin: 1rem;
    background-color: #5cbfb0;
   border:none;
  }

}

img{
  padding:0;
  width:80%;
}
.logo3,.logo4{
  max-width:20%;
  height: 100%;
  padding-left: 15px;
  padding-bottom: 2rem;
}
.logo2{
  max-width:20%;
  height: 82px;
  padding-bottom: 2rem;
}
.logo1{
  width:100%;
  height:320px;
}
.card-title{
  color: #000000;
  padding-left: 16px;
  font-weight: 500;
}
.card-text1{
  color:#000000;
  font-size: 25px;
  font-weight:500;
  text-decoration: none;
}
.card-text2{
  color:#000000;
  font-size: 22px;
  font-weight:800;
}
h2{
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

@media (max-width: 600px) {
  .card-container {
    grid-template-columns: 100%;
  }
  
  .card {
    margin: 1rem;
    gap: 0;
    
  }
  img{
    padding:0;
  width:75%;
  height: 10%;
 
  }
  .card-text1{
    font-size: 16px;
    width: 100%;
  }
  .card-text2{
    font-size: 16px;
  }
h2{
  text-shadow: 0.1px 0.1px 0.3px rgba(0, 0, 0, 0.5);
}
    p{
      .icons{
          margin-left: 50%; 
      }

    }
    .logo1{
      width: 100px;
      height:120px;
    }
 
}


/* Media queries for tablet screens*/
@media (min-width: 601px) and (max-width: 1025px) {

.logo3,.logo4{
  max-width:30%;
  height: 100%;
}
.logo2{
  max-width:30%;
  height: 100px;
  padding-bottom: 1rem;
}

.card-text1{
  font-size: 12px;
}
.card-text2{
  font-size: 18px;
}
h2{
  font-size: 1.5rem;
}

}