  <!--
  <p>
    For enquiries and orders, please fill out the form below or contact us
    directly
  </p>

  <form [formGroup]="contactForm" ngSubmit="onSubmit()">
    <div class="contact-fields">
      <div class="input-group mb-3">
        <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
        <input
          type="text"
          class="form-control"
          formControlName="name"
          placeholder="Your Name"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text"
          ><i class="bi bi-envelope-at-fill"></i
        ></span>
        <input
          type="text"
          class="form-control"
          formControlName="email"
          placeholder="Your Email"
        />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text"
          ><i class="bi bi-chat-dots-fill"></i
        ></span>
        <textarea
          class="form-control"
          type="text"
          placeholder="Your Message"
          formControlName="message"
        ></textarea>
      </div>
      <button type="button" class="btn-submit btn-sm">
        Send Message <i class="bi bi-send-fill"></i>
      </button>
    </div>
  </form>
</div>
-->
<div class="container-fluid contact" id="contact">

<div class="card-container">
  <div class="card">
    <div class="card-img-top main">
      <img src="../assets/images/UniBio_nobg.png" class="logo1"/>
      <p><img src="../assets/images/gayathriLogo_nobg.png" class="logo2"/>
      <img src="../assets/images/gmhlogpng.png" class="logo3"/>
      <img src="../assets/images/unibayLogord.jpg" class="logo4"/>
    </p>
    </div>
   </div> 
  <div class="card">
   <div class="card-title">
    <br>
     <h2>Contact Us</h2>
    </div>
    <div class="card-body">
    <p><a href="https://goo.gl/maps/fCJNyhHLFk2Fq3sC8" target="_blank" class="card-text1">Unibio (India) Hatcheries Pvt Ltd</a></p>
   <p><a href="https://goo.gl/maps/1LfedXK9wiu3vxd3A" target="_blank" class="card-text1">Gayathri Bio Marine Pvt Ltd</a><br></p>
   <p><a href="https://goo.gl/maps/rEzGS9YQcwEBWYx36" target="_blank" class="card-text1">Unibay Aquabreeding Pvt Ltd</a><br></p>
   <p><a href="https://goo.gl/maps/yCQGK1DuvCCq3Vz9A" target="_blank" class="card-text1">MAS Aqua Technicks Pvt Ltd</a><br></p>
   <p><a href=" https://goo.gl/maps/2XXYrMfihduKT3FZA" target="_blank" class="card-text1">Golden Marine Harvest Pvt Ltd</a><br></p>
    </div>
  </div>
  <div class="card">
    <div class="card-title ">
      <br>
     <h2>Navigation Links</h2>
    </div>
    <div class="card-body ">

   <p><a routerLink="/welcome" class="card-text1">About Us</a></p>
   <p><a routerLink="/about" class="card-text1">Monodon</a><br></p>
   <p><a href="#sustainability" class="card-text1">Sustainable Environment</a><br></p>
   <p><a href="#shrimponomy" class="card-text1">Monodon 101</a><br></p>
  <hr>
  <p><a href="#insta"><img src="../assets/images/insta_icon.svg" style="height: 80px;width: 100px;"/></a>
  <a href="https://facebook.com/profile.php?id=100094896395572" target="_blank"><img src="../assets/images/fb_icon.svg" style="height: 80px;width: 100px;" /></a>
  <a href="https://wa.me/8925774485" target="_blank"><img src="../assets/images/Whatsapp_icon.svg" style="height: 80px;width: 100px;" /></a>
  </p>
  </div>
  </div>
</div>
</div>
