.media-header {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom right, #b7f8db, #50a7c2);
  padding: 10px;
  padding-top: 7rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.media-header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 50px;
}

.media-header li {
  display: inline;
}

.media-header a {
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 900; 
  font-size: 2rem;
  background: linear-gradient(to bottom, #bff3dc, #e6e9e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 14px;
  padding: 0px 20px;
  display: block;
  position: relative; /* Required for the pseudo-element positioning */
  overflow: hidden; /* Ensures the underline effect is contained */
}



.media-header a:hover {
  background: linear-gradient(to right, #e6d9ca, #d4a669);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Mobile View */
@media (max-width: 580px) {
  .media-header {
    padding-top: 5rem;
    box-shadow: none;
  }
  


}