// .about-first,.about-second,.about-third,.about-fourth
// {
// height: 100vh;
// width: 100%;
// background-size:cover;
// display:flex;
// flex-direction: column;
// justify-content: center;
// align-items: center;
// padding: 5rem;
// color: #f2f2f2;
// font-size: 25px;
// font-weight: 500;
// h2 {
//   font-weight: bold;
//   margin-bottom: 3rem;
// }
// }
// .about-first{
//   background-image: url("../../../assets/images/Monodon.jpeg");
//   color: black;
// }
// .about-second{
//   background-image: url("../../../assets/images/Vision_img.jpg");
// }
// .about-third{
//   background-image: url("../../../assets/images/mision_img.jpg");
// }
// .about-fourth{
//   background-image: url("../../../assets/images/Chennai.jpg");
//   height:auto;
// }
.about {
  &-first {
    display: grid;
    grid-template-columns: 60% 40%;
    background: linear-gradient(#bad5ba, #519551);
    padding: 2rem 1rem;
    &-col1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 3rem 2rem 3rem;
      h2 {
        color: #2d4048;
        font-size: 5rem;
        font-weight: 500;
      }
      p {
        color: #000000;
        font-size: 25px;
        font-weight: 500;
        margin-top: 1rem;
      }
    }
    .image {
      border-radius: 50%;
      background-image: url("../../../assets/images/ChennaiHatcheryGate.jpg");
      background-size: 100% 100%;
      margin: 3rem 0rem 2rem 0rem;
      height: 90%;
      width:95%;
    }
  }
  &-second {
    background: #171c1a;
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 2rem;
    padding-bottom: 10%;
    .img-container {
      border-radius: 50%;
      background-image: url("../../../assets/images/Maturation.jpeg");
      background-size:cover ;
      background-repeat: no-repeat; 
      background-position: center left 10%;
      margin: 0rem 3rem 0rem 2rem;
      height:120%;
    }
    h2 {
      color: #20cd8d;
      font-weight: 700;
      font-size: 3rem;
    }
    p {
      color: #f4f4f4;
      font-size: 1.5rem;
    }
  }
  &-third {
    display: flex;
    flex-direction: column;
    position: relative;
    .img-tn {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
    .divBlock {
      position: absolute;
      top: 27%;
      h3 {
        font-size: 6rem;
        font-weight: 900;
        color: #ffffff;
        line-height: 0.99657568em;
        text-align: center;
        text-transform: uppercase;
        text-shadow: -0.01875em 0em 0em rgba(0, 255, 255, 1),
          0.01875em 0em 0em rgba(255, 0, 255, 1);
        &:first-of-type {
          margin-bottom: 4rem;
          margin-top: -3rem;
        }
      }
    }
    .features {
      background: #e18e54;
      padding: 2rem;
      text-align: center;
      h2 {
        color: #fff;
        font-size: 4rem;
        font-weight: 700;
      }
      p {
        color: #000;
        font-size: 1.5rem;
        margin-top: 1rem;
        font-weight: 500;
      }
    }
    .card-wrapper {
      display: flex;
      gap: 1rem;
      .card {
        width: 33%;
        border: none;
        background: transparent;
        display: flex;
        align-items: center;
        &-title {
          color: #fff;
          text-transform: uppercase;
        }
        &-text {
          text-align: justify;
        }
        img {
          width: 5rem;
        }
      }
    }
  }
}
/* Media queries for mobile phone screens*/
@media (max-width: 480px) {
  .about {
    &-first {
      display: grid;
      grid-template-columns: 100%;
      padding: 2rem 1rem;
      &-col1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0rem;
        h2 {
          font-size: 23px;
          font-weight: 600;
       
        }
        p {
          font-size: 16px;
          font-weight: 400;
          margin-top: 1rem;
        }
      }
      .image {
        border-radius: 0;
        margin: 0rem 0rem 15rem 0rem;
        width: 100%;
        height: 100%;
      }
    }
    &-second {
      display: grid;
      grid-template-columns: 100%;
      padding: 2rem 1rem;
      .img-container {
        border-radius:0;
        margin: 0rem 0rem 15rem 0rem;
        width: 100%;
        height: 100%;
      }
      h2 {
        font-size: 23px;
        font-weight: 600;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        margin-top: 1rem;
    }

}
&-third {
 
  .divBlock {
    top: 5%;
    h3 {
      font-size: 23px;
      font-weight: 900;
      text-align: center;
      letter-spacing: 0.5em;
      text-transform: uppercase;
      text-shadow: -0.11875em 0em 0em rgba(0, 255, 255, 1),
        0.11875em 0em 0em rgba(255, 0, 255, 1);
      &:first-of-type {
        margin: 1rem;
      }
    }
  }
  .features {
    h2 {
      font-size: 25px;
      font-weight: 600;
      color: #000;
    }
    p {
      font-size: 16px;
        font-weight: 400;
        margin-top: 0.5rem;
    }
  }
  .card-wrapper {
    display: grid;
    grid-template-columns: 100%;
    gap: 3rem;
    .card {
      width: 100%;
      border: none;
      background: transparent;
      display: flex;
      align-items: center;
      &-title {
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
      }
      &-text {
        text-align: justify;
      }
      img {
        width: 2rem;
      }
    }
  } 
}
  }
}

.main-esta{
  background: linear-gradient(#e79766,rgb(228, 84, 74));
.card-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
  padding: 1rem;
  .card {
    position: relative;
    margin: 5rem;
    background-color: #dddddd;
    transition: transform 0.3s ease; 
    overflow: hidden; 
  }
}

.card:hover{
  transform: scale(1.1);
  transform-origin: center center;
}

img{
  width:100%;
  height:100%;
  padding: 20px;
}

.card-text1{
  color:rgb(255, 145, 0);
  font-family: 'Bauhaus Light';
  font-size: 21px;
  font-weight:800;
}
.card-text2{
  color:rgb(68, 68, 68);
  font-size: 28px;
  font-weight:800;
}


@media screen and (max-width: 767px) {
.card-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; 
}
.card-img-top{
  top:10%;
  padding: 25px;
}
img{
  width:100%;
  height:50%;
  padding: 1rem 1rem 1rem 1rem;
}
.card-text1{
  font-size: 22px;
  font-weight:800;
}
.card-text2{
  font-size: 30px;
  font-weight:800;
}

.card {
  flex: 0 0 auto; 
  margin-right: 5px;
  width: 280px;
  height:300px;
}

.card:last-child {
  margin-right: 0;
}
}
}