<div class="about-first">
  <div class="about-first-col1">
    <h2>About UniBio</h2>
    <p>
      UniBio (India) Hatcheries is an Indian subsidiary of an international
      leader in production and marketing of premium quality black tiger shrimp
      (P. monodon) from its SPF domestication & breeding program. Our seed
      stocks are the outcome of three decades of proven maturation & seed
      production technology. We are willing to extend our expertise in nursery
      and grow-out phases for successful crop.
    </p>
  </div>
  <div class="image"></div>
</div>


<div class="about-second">
  <div class="img-container"></div>
  <div>
    <br><br>
    <h2>Vision</h2>
    <p>
      To be a trustworthy source for good quality SPF Monodon (Black Tiger Shrimp) seed.
    </p>
   <br><br><br>
    <h2>Mission</h2>
    <p>
      To produce and supply genetically superior SPF monodon shrimp seeds that meet the highest 
      quality standards resulting in sustainably profitable farming. 
    </p>
    <br><br><br>
  </div>
</div>

<section id="#section3">
 <div class="about-third">
  <div class="img-tn">
    <img src="../../../assets/images/Chennai.jpg" />
    <div class="divBlock">
      <h3>CHENNAI</h3>
      <h3>TAMILNADU</h3>
    </div>
  </div>
  <div class="features">
    <h2>Why Chennai</h2>
    <br><br>
   <div class="card-wrapper">
      <div class="card" *ngFor="let item of array">
        <img class="card-img-top" src="../../../assets/images/tick.svg" />
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.content }}</p>
        </div>
      </div>
    </div>
  </div>
  </div>
