// .about-first,.about-second,.about-third,.about-fourth
// {
// height: 100vh;
// width: 100%;
// background-size:cover;
// display:flex;
// flex-direction: column;
// justify-content: center;
// align-items: center;
// padding: 5rem;
// color: #f2f2f2;
// font-size: 25px;
// font-weight: 500;
// h2 {
//   font-weight: bold;
//   margin-bottom: 3rem;
// }
// }
// .about-first{
//   background-image: url("../../../assets/images/Monodon.jpeg");
//   color: black;
// }
// .about-second{
//   background-image: url("../../../assets/images/Vision_img.jpg");
// }
// .about-third{
//   background-image: url("../../../assets/images/mision_img.jpg");
// }
// .about-fourth{
//   background-image: url("../../../assets/images/Chennai.jpg");
//   height:auto;
// }
.about {
  &-first {
    display: grid;
    grid-template-columns: 50% 50%;
    background: linear-gradient(#bad5ba, #519551);
    padding: 2rem 1rem;
    &-col1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 4rem;
      h2 {
        color: #2d4048;
        font-size: 5rem;
        font-weight: 500;
      }
      p {
        color: #242323;
        font-size: 25px;
        font-weight: 500;
        margin-top: 1rem;
      }
    }
    .image {
      border-radius: 0 100% 0 0;
      background-image: url("../../../assets/images/Tank\ Upscaled.jpeg");
      background-size: 100% 100%;
      margin: 5rem 0rem 2rem 0rem;
      height: 30rem;
    }
  }
  &-second {
    background: #171c1a;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2rem;
    .img-container {
      border-radius: 100% 0 0 0;
      background-image: url("../../../assets/images/mision_img.jpg");
      background-size: 100% 100%;
      margin: 0rem 3rem 0rem 2rem;
    }
    h2 {
      color: #20cd8d;
      font-weight: 700;
      font-size: 3rem;
    }
    p {
      color: #f4f4f4;
      font-size: 1.5rem;
    }
  }
  &-third {
    display: flex;
    flex-direction: column;
    position: relative;
    .img-tn {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
    .divBlock {
      position: absolute;
      top: 27%;
      h3 {
        font-size: 6rem;
        font-weight: 900;
        color: #ffffff;
        line-height: 0.99657568em;
        text-align: center;
        text-transform: uppercase;
        text-shadow: -0.01875em 0em 0em rgba(0, 255, 255, 1),
          0.01875em 0em 0em rgba(255, 0, 255, 1);
        &:first-of-type {
          margin-bottom: 4rem;
          margin-top: -3rem;
        }
      }
    }
    .features {
      background: #e18e54;
      padding: 2rem;
      text-align: center;
      h2 {
        color: #fff;
        font-size: 4rem;
        font-weight: 700;
      }
      p {
        color: #000;
        font-size: 1.5rem;
        margin-top: 1rem;
        font-weight: 500;
      }
    }
    .card-wrapper {
      display: flex;
      gap: 1rem;
      .card {
        width: 33%;
        border: none;
        background: transparent;
        display: flex;
        align-items: center;
        &-title {
          color: #fff;
          text-transform: uppercase;
        }
        &-text {
          text-align: justify;
        }
        img {
          width: 5rem;
        }
      }
    }
  }
}
