<div class="about-first">
  <div class="about-first-col1">
    <h2>About UniBio</h2>
    <p>
      UniBio (India) Hatcheries is a leading supplier of good quality SPF Black Tiger shrimp (P. monodon) seed (post larvae) in India. 
      The seeds are produced using SPF broodstock imported from Aqualma (Unima Group), Madagascar, one of the few commercially successful monodon domestication and SPF breeding programs in the world.<br><br>
       
      Our seed stocks are the outcome of three decades of proven maturation & seed production technology and continue to evolve keeping the farming success and the overall superior quality of the finished products in mind.
    </p>
  </div>
  <div class="image">
  </div>
</div>


<div class="about-second">
  <div class="img-container"></div>
  <div>
    <br><br>
    <h2>Vision</h2>
    <p>
      To be a trustworthy source for good quality SPF Monodon (Black Tiger Shrimp) seed.
    </p>
   <br>
    <h2>Mission</h2>
    <p>
      To produce and supply genetically superior SPF monodon shrimp seeds that meet the highest 
      quality standards resulting in sustainably profitable farming. 
    </p>
  </div>
</div>

<!--Established-->
<div class="container-fluid main-esta">
  <div class="card-container">
    <div class="card"> 
      <img class="card-img-top" src="../assets/images/bag_svg.svg" alt="svgbag"/>
        <div class="card-body text-center">
      <p class="card-text1">Year Established</p>
      <p class="card-text2">2017</p>
          </div>
      </div>
   <div class="card">
    <img class="card-img-top" src="../assets/images/Person_svg.svg" alt="svgperson" />
    <div class="card-body text-center">
      <p class="card-text1">Our Farmer's</p>
      <p class="card-text2">1000+</p>
          </div>
  </div>
   <div class="card">
    <img class="card-img-top" src="../assets/images/Shrimp_svg.svg" alt="svgshrimp" />
    <div class="card-body text-center">
      <p class="card-text1">Avg Sale's /year</p>
      <p class="card-text2">500M+</p>
          </div>
  </div>
   </div>
  </div>  


<!--<section id="#section3">
 <div class="about-third">
  <div class="img-tn">
    <img src="../../../assets/images/Chennai.jpg" />
    <div class="divBlock">
      <h3>CHENNAI</h3>
      <h3>TAMILNADU</h3>
    </div>
  </div>
  <div class="features">
    <h2>Why Chennai</h2>
    <br><br>
   <div class="card-wrapper">
      <div class="card" *ngFor="let item of array">
        <img class="card-img-top" src="../../../assets/images/tick.svg" />
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.content }}</p>
        </div>
      </div>
    </div>
  </div>
-->
