 <!--Monodon-->
 <section class="monodon">
  <div class="container">
    <h2>About <i>P.monodon</i></h2>
    <p><i>P. monodon</i> are generally found in sandy estuaries, mangroves, and the coasts of Eastern Africa, Southeast Asia and Northern Australia.
         Upon adulthood, they move to deeper waters (0- 110 meters) and live on muddy or rocky bottoms. 
         The P. monodon has shown to be nocturnal in the wild, burrowing into substrate during the day, and coming out at night to feed P. monodon typically feed on detritus, polychaete worms, mollusks, small crustaceans and algae. 
         It can tolerate a wide range of salinity, 0.2 to 70 ppt. Salinity within the range of 10 to 25 ppt has no appreciable effect on growth when food is sufficient. 
         Growth is reported to be slower at very low salinities. Food conversion ratios are favourable and it is hardy and not greatly disturbed by handling.
    </p>
  </div>
</section>
  <!--Why-->
<section class="why">
  <div class="container">
    <h2>Why <i>P monodon</i></h2>
    <p>P. monodon is a larger shrimp species compared to vannamei, which can result in potentially higher market value. Some Indian consumers prefer the larger size and taste of P. monodon, making it a suitable choice for certain market segments.</p>
    <p> P. monodon has been traditionally cultivated in India for many years, and there is an existing market for it. Farmers who have experience and established market connections with P. monodon may find it more convenient to continue cultivating this species.</p>
    <p>In regions where P. monodon farming has been prevalent, farmers may have acquired substantial knowledge and expertise in the specific farming practices required for this species. They may be more comfortable and efficient in handling P. monodon compared to vannamei.</p>
    <p>While P. monodon has faced disease challenges, some strains or stocks of SPF P. monodon are developed to be relatively resistant to certain diseases, including the white spot syndrome virus (WSSV). These disease-resistant strains can offer advantages in terms of survival rates and reduced disease-related losses.</p>
  </div>
</section>
    <!--Demand-->
<section class="demand">
  <div class="container">
    <h2>Demand</h2>
    <p>Market Preferences: The demand for P. monodon is influenced by regional and cultural preferences. In certain markets, consumers have a preference for larger-sized shrimp, which works in favor of P. monodon due to its potential for attaining a larger size compared to some other shrimp species.</p>
    <p>P. monodon has been popular in international export markets, particularly in regions like the United States, Europe, and Japan. These markets often have specific requirements for shrimp size, quality, and taste, and P. monodon has historically met those criteria.</p>
    <p>Specialized infrastructure and management practices, including extensive farming systems and suitability of such farming systems influences the demand for P. monodon in different regions.</p>
    <p>The price of P. monodon also impacts its demand. In some cases, the larger size and higher production costs associated with P. monodon can make it relatively more expensive compared to other shrimp species. Effectively this price difference sets the way for demand and market competitiveness.</p>
  </div>
</section>
   <!--Offer-->
   <section class="offer">
    <div class="container">
      <h2>What our products offer for the farmers?</h2>
      <ol>
      <li>Disease Management: Our Specific pathogen-free (SPF) shrimp seeds are produced through advanced techniques and technologies tested to have reduced disease risks. Our seeds can contribute to improved survival rates and minimize disease-related losses.</li>
      <li>Genetic Improvement: Our focus on selective breeding programs to develop improved strains of shrimp with desirable traits, such as faster growth, disease resistance, and higher yield. These genetically improved seeds can enhance the productivity and profitability of shrimp farming.</li>
      <li>Consistency and Uniformity: We provide high-quality seeds strive to maintain consistency and uniformity in terms of size, growth rate, and genetic characteristics of the seeds. This allows farmers to achieve more predictable and standardized results in their production cycles.</li>
      <li>By using hatchery-produced seeds, farmers can reduce the risk of genetic degradation and maintain the quality and performance of their stocks.</li>
      <li>Technical Support: We offer technical support and guidance to farmers, including advice on farm management practices, feeding regimes, disease prevention, and water quality management. This assistance can be valuable, especially for new or less-experienced farmers.</li>
      </ol>
      </div>
  </section>