.container-fluid {
    display: flex;
    
  }
  
  .image-container {
    display: grid;
    place-items: center;
    margin-top: 15px;
  }
  
  img {
    position: relative;
 
  }
  
  .content {
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 0rem;
    padding: 0rem 0;
    margin-top: 0%;
    img{
      margin-left: 20px;
    }
  }

  .main-s1{
  
    justify-content: center;
    background: linear-gradient(to bottom right, #b7f8db, #50a7c2);
    padding: 6rem 0rem 0rem 0rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    
    h1{
      font-family: 'Roboto', sans-serif;
      font-weight: 900; 
      font-size: 2rem;
      background: linear-gradient(to bottom, #bff3dc, #e6e9e5);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
    }
  
    
  }
  .title {
    color: #17ec9e;
    font-weight: bold;
    font-size: 3.5rem;
    padding: 1rem;
    
  }
  
  .description {
    color: #086788;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 3rem;
    margin-right: 5%;
    margin-left: 5%;
    justify-content: center;
    text-align: left;
  }
  
  /* Media queries for mobile phone screens */
  @media (max-width: 580px) {
    .main-s1{
      padding: 5rem 0rem 0rem 0rem;
    }


    .content {
        display: grid;
        grid-template-columns: 100%;
        img{
          padding: 0rem 2.5rem;
        }
    }
  
    .title {
        color: #17ec9e;
        font-size: 3rem;
        font-weight: 600;
        padding: 1rem 0rem 0rem 0rem;
        text-shadow: none;
    }
  
    .description {
        color: #086788;
        font-size: 20px;
        font-weight: 400;
        padding: 0rem 2rem;
        margin: 0rem 0rem 1rem 0rem;
    }
  
    img {
        width: 30px;
    }
  }
  
  
  
  
  .main-sus1,
  .main-sus2,
  .main-sus3,
  .main-sus4 {
    .card-container {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        width: 100%;
        padding: 1rem;
        .card {
            position: relative;
            margin: 2.5rem;
            border-radius: 25px;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
            transition: transform 0.3s ease;
            overflow: hidden;
            img{
              width: 70px;
            }
        }
    }
  
    .card:hover {
        transform: scale(1.05);
        transform-origin: center center;
    }
    .card-body{
      padding: 0px 20px;
    }
    .card-title {
      font-size: 25px;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-weight: 800; 
      background: linear-gradient(to right, #fa709a, #fee140);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
        
    }
  
    .card-text {
        font-size: 18px;
        font-weight: 300;
        justify-content: center;
        text-align: left;
    }
  }
  
  .main-sus1,.main-sus2 {
   
   
    .card{
      background-color:  #0c2323;
    }
    .card-title {
        color: #ffd500;
    }
    .card-text {
        color: #ffffff;
    }
  }
  
  .main-sus1{
    background: linear-gradient(to bottom, #b7f8db, #76d4c5);
  }
  .main-sus2{
    background: linear-gradient(to bottom,#76d4c5, #50a7c2);
  }
  
  .main-sus3 {
    .title {
      font-family: 'Roboto', sans-serif;
      font-weight: 900; 
      font-size: 4rem;
      background: linear-gradient(to right, #11998e, #38ef7d);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
        padding: 0rem 2rem 0rem 2rem;
    }
    .card-text {
        color: #27353b;
    }
    .description{
      color: #000000;
    }
  }
  
  .main-sus4 {
    .card{
      background-color: #0c2323;
    }
    .card-title {
        color: #ffd500;
    }
    .card-text {
        color: #ffffff;
    }
  }
  
  /* Media queries for mobile phone screens */
  @media (max-width: 580px) {
    .main-sus1,
    .main-sus2,
    .main-sus3,
    .main-sus4 {
        .card-container {
            display: grid;
            grid-template-columns: 100%;
            width: 100%;
            gap: 0rem;
            .card {
                margin: 1rem;
                img{
                  width: 50px;
                }
              }
        }
  
        .card-title {
            font-size: 22px;
            font-weight: 800;
        }
  
        .card-text {
            font-size: 18px;
            font-weight: 300;
        }
        .card:hover {
          transform: none;
      }
    }

    .main-sus3{
      .title{
        font-size: 3rem;
      }
    }

  }
  
  
 