.main-mono
  {
    position: relative;
    font-size: 25px;
    font-weight: 500;
    h2{
      color:#ffd500;
      padding: 3rem 0 0 0rem;
      text-align: center;
        font-weight: bold;
        font-size: 3.5rem;
        
    }
    background-color: #bdbdbd;
  .card-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
    padding: 1rem;
    .card {
      position: relative;
      margin: 1.5rem;
      background-color: #cccccc;
      transition: transform 0.3s ease; 
      overflow: hidden; 
      border: none;
    }
  }

  .card:hover{
    transform: scale(1.05);
    transform-origin: center center;
  }

img{
    width: 100%;
     height:250px; 
     border-bottom: 4px solid #ffd500;
  }

  .card-text1{
    color:#086788;
    padding-bottom:1rem;
    font-size: 28px;
    font-weight:500;
  }
  }
  
   /* Media queries for mobile phone screens*/
 @media (max-width: 1025px) {
  .main-mono{
      font-size: 16px;
      font-weight: 400;
      h2{
        font-size: 28px;
        padding: 2rem 1rem 0 0;
        text-shadow: 0.1px 0.1px 0.3px rgba(0, 0, 0, 0.5);
    }
    .card-container {
      display: grid;
      grid-template-columns: 100%;
  }
}
}

/* Media queries for mobile phone screens*/
@media (min-width:601px) and (max-width: 1025px) {
  .main-mono{
      font-size: 20px;
      font-weight: 400;
      h2{
        font-size: 32px;
        padding: 2rem 1rem 0 0;
        text-shadow: 0.1px 0.1px 0.3px rgba(0, 0, 0, 0.5);
    }
    .card-container {
      display: grid;
      grid-template-columns: 100%;
  }
}
}