.container-fluid {
    display: flex;
    height:90vh;
  
}
.content {
    display:grid;
    grid-template-columns: 100%;
    gap: 1rem;
    padding: 2rem 15rem ;
    margin-top: 10%;
    text-align: center;
  
}

.title {
    color: #ec9017;
    font-weight: bold;
    font-size: 3.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.description {
    color: #000000;
    font-size: 1.5rem;
    font-weight: 400;
    margin-right: 10%;
    justify-content: center;
}

/* Media queries for mobile phone screens*/
@media (max-width: 600px) {
    .content {
      display:grid;
      gap: 1rem;
      padding: 1rem;
      margin-top: 45%;
  }
  .title {
    font-size: 23px;
    font-weight: 600;
    padding: 1rem 1rem 0rem 1rem;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
  }
  
  .description {
    font-size: 16px;
    font-weight: 400;
    padding: 0rem 1rem;
    margin: 0rem 1rem 0rem 0rem;
  }
}