.navbar {
  background-color: rgb(256, 256, 256, 0.5) !important;
  width: 100%;
  backdrop-filter: blur(50px);
  z-index:3;
  &-brand {
    img {
      height: 40px;
      width: 40px;
    }
    h2{
      color:#004aad;
      font-size: 25px;
      font-weight: 800;
    }
  }
  &-collapse {
    position: absolute;
    right: 18%;
  }
  &-nav {
    .nav-item {
      padding: 0rem 1rem;
     
      a {
        color: #000000;
        font-weight: 800;
        font-size: 15px;
      }
      &:hover {
        border-bottom: 1px solid aqua;
        a {
          color: aqua;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .navbar {
    h2{
      color:#004aad;
      font-size: 23px;
      font-weight: 800;
    }
    &-collapse {
      position: absolute;
      background-color: aliceblue;
      top: 100%;
      right:5%;
    }
  }
}