.navbar {
  background-color: transparent !important;
  width: 100%;
  z-index:3;
  &-brand {
    img {
      height: 40px;
      width: 40px;
    }
  }
  &-collapse {
    position: absolute;
    right: 18%;
  }
  &-nav {
    .nav-item {
      padding: 0rem 1rem;
      a {
        color: #fff;
        font-weight: 500;
        font-size: 25px;
      }
      &:hover {
        border-bottom: 1px solid #031a3f;
        a {
          color: rgb(0,250,154);
          text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
