.container-fluid {
  display: flex;
}

.image-container {
  display: grid;
  place-items: center;
  margin-top: 15px;
}

img {
  position: relative;
  width: 60px;
}

.content {
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 0rem;
  padding: 2rem;
  margin-top: 5%;
}

.title {
  color: #17ec9e;
  font-weight: bold;
  font-size: 3.5rem;
  padding: 1rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.description {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 3rem;
  margin-right: 5%;
  margin-left: 5%;
  justify-content: center;
  text-align: justify;
}

/* Media queries for mobile phone screens */
@media (max-width: 1025px) {
  .content {
      display: grid;
      grid-template-columns: 100%;
      img{
        padding: 0;
        margin: 5%;
      }
  }

  .title {
      color: #17ec9e;
      font-size: 23px;
      font-weight: 600;
      padding: 1rem 0rem 1.5rem 0rem;
      text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
  }

  .description {
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      padding: 0rem 0rem;
      margin: 0rem 0rem 0rem 0rem;
  }

  img {
      width: 30px;
  }
}


/* Media queries for mobile phone screens */
@media (min-width:601px) and (max-width: 1025px) {
  .content {
      display: grid;
      grid-template-columns: 100%;
      gap: 1rem;
      img{
        padding: 0;
       margin: 0 30%;
      }
  }

  .title {
      font-size: 3.5rem;
      padding: 1rem 0rem 2rem 2rem;
  }


  .description {
      font-size: 28px;
      padding:2rem;
  }

  img {
      width: 40px;
  }
}





.main-sus1,
.main-sus2,
.main-sus3,
.main-sus4 {
  .card-container {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      width: 100%;
      padding: 1rem;
      .card {
          position: relative;
          margin: 3rem;
          border: none;
          border-radius: 25px;
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
          transition: transform 0.3s ease;
          overflow: hidden;
      }
  }

  .card:hover {
      transform: scale(1.05);
      transform-origin: center center;
  }

  .card-title {
      font-family: 'Bauhaus Light';
      font-size: 20px;
      font-weight: 800;
      text-align: center;
  }

  .card-text {
      font-size: 18px;
      font-weight: 300;
  }
}
.main-sus{
  background-color: #767db9;
}
.main-sus1 {
  background-color: #767db9;
 
  .card{
    background-color:  #27353b;
  }
  .card-title {
      color: #20cd8d;
  }
  .card-text {
      color: #dddddd;
  }
}

.main-sus2 {
  background-color: #f0f0f0;
  .card{
    background-color: #f2f2f2;
  }
  .card-title {
      color: #20cd8d;
  }
  .card-text {
      color: #27353b;
  }
}

.main-sus3 {
  background-color: #cdf3e5;
  .card-title {
      color: #20cd8d;
  }
  .card-text {
      color: #27353b;
  }
}

.main-sus4 {
  background-color: #cdf3e5;
  .card-title {
      color: #20cd8d;
  }
  .card-text {
      color: #27353b;
  }
}

/* Media queries for mobile phone screens */
@media (max-width: 1025px) {
  .main-sus1,
  .main-sus2,
  .main-sus3,
  .main-sus4 {
      .card-container {
          display: grid;
          grid-template-columns: 100%;
          width: 100%;
          gap: 2rem;
          .card {
              margin: 1rem;
              border-radius: 25px;
          }
      }

      .card-title {
          font-size: 18px;
          font-weight: 600;
      }

      .card-text {
          font-size: 16px;
          font-weight: 400;
      }
  }
}


/* Media queries for mobile phone screens */
@media (min-width:601px) and (max-width: 1025px) {
  .main-sus1,
  .main-sus2,
  .main-sus3,
  .main-sus4 {
      .card-container {
          gap: 4rem;
          margin:10%;
          .card {
              margin: 1rem;
          }
      }

      .card-title {
          font-size: 28px;
      }

      .card-text {
          font-size: 25px;
      }
  }

}
