<div class="about-first">
    <div class="about-first-col1">
      <h2>About Unibay</h2>
      <p>
        Unibay Aquabreeding Pvt. Ltd. 
        promoted by 4 senior technocrats & 
        entrepreneurs with a combined 
        experience of over 125 years in 
        shrimp aquaculture in India and 
        abroad. Its primary focus is on 
        shrimp seed production.
        
        <br><br>
         
        Our new shrimp hatchery 
located near Visakhapatnam on 
a pristine coastline away from any 
other aqua hatcheries & farms is 
undoubtedly the most isolated in 
Andhra Pradesh. This offers us the 
first line of biosecurity.

      </p>
    </div>
    <div class="image">
    </div>
  </div>
  
  
  <div class="about-second">
    <div class="img-container"></div>
    <div>
      <br><br>
      <h2>Why buy seed from us</h2>
        <ul>
        <li>The most isolated hatchery in Andhra coast</li>
        <li>Pristine coastline away from other hatchery or farm</li>
        <li>10-step chemical-free water treatment</li>
        <li>Only hatchery using 100% indoor algae</li>
        <li>Best in class larval nutrition for healthy seed</li>
        <li>Tested for economically important pathogenslike WSSV & EHP before delivery</li>
        <li>Can provide complete traceability</li>
    </ul> 
    </div>
  </div>

  
