<div class="container-fluid welcome">
    <app-header></app-header>
    <img src="../assets/images/UniBio_Logo_Bg.png" />
</div>
<app-footer><app-footer />

    <!--Welcome PopUp -->
    <div class="toast" id="welcomeToast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="../assets/images/Logo.PNG" class="rounded me-2">
            <strong class="me-auto">Welcome to UniBio</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Leading the way in sustainable shrimp production
        </div>
    </div>