.accordion {
  .accordion-item {
    margin:1rem 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: linear-gradient(to right, #36d1dc, #5b86e5);
  
    

    .accordion-header {
      padding: 9px 15px ;
      background: linear-gradient(to right, #36d1dc, #5b86e5);
      
      
      cursor: pointer;

      .accordion-button {
        background: none;
        border: none;
        outline: none;
        width: 100%;
        text-align: left;
        padding: 0;
        font-size: 1.5rem;
        color: #ffffff;
      }
    }

    .accordion-collapse {
      &.show {
        display: block;
      }

      display: none;
    }

    .accordion-body {
      background-color: #f2f2f2;
      border-top: 5px solid #ffd500;
    }
  }
}

.gallery-container {
  padding: 20px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.gallery-item {
  cursor: pointer;
}

.img-fluid {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: transform 0.2s;
}

.img-fluid:hover {
  transform: scale(1.05);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);

  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;

    .close {
      position: absolute;
      top: 0px;
      right: 0px;
      font-size: 50px;
      background-color: red;
      cursor: pointer;
    }

    .modal-image {
      width: 100%;
      height: 80vh;
    }
  }
}

.accordion-button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  i {
    font-size: 2rem;
    margin-left: 10px;
    transition: transform 0.2s;
  }

  .icon-plus::before {
    content: "+";
    font-weight: bold;
  }

  .icon-minus::before {
    content: "-";
    font-weight: bold;
  }
}




@media (max-width: 580px) {
  .accordion {
    .accordion-item {
      margin: 1rem; /* Reduce margins for smaller screens */
      border-radius: 3px;

      .accordion-header {
        padding: 6px 10px ;
        font-size: 20px; /* Adjust font size for mobile */
        .accordion-button {
          font-size: 20px;
          padding: 0.5rem; /* Reduce padding */
        }
      }

      .accordion-body {
        padding: 1rem;
      }
    }
  }

  .gallery-container {
    padding: 10px; /* Reduce padding for mobile */
  }

  .gallery-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Smaller grid items */
    gap: 10px; /* Reduce spacing */
  }

  .gallery-item {
    .img-fluid {
      height: 200px; /* Slightly smaller height for mobile */
    }
  }

  .modal {
    padding: 10px; /* Add padding around the modal */
    background-color: rgba(0, 0, 0, 0.9); /* Slightly darker for mobile focus */

    .modal-content {
      padding: 15px; /* Reduce padding */
      .modal-image {
        max-height: 40vh; /* Ensure the image doesn't overflow */
      }

      .close {
        padding: 1rem ;
        font-size: 50px; /* Adjust close button size */
      }
    }
  }
}
