   
    .container {
      position:relative;
      top:5px;  
      max-width: auto;
      margin:auto;
      padding: 40px;
      background-color: #ffffffa2;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }

    h1 {
      color: #000000;
    font-size: 24px;
    font-weight: 800;
    }

    h3 {
      color: #222222;
    font-size: 18px;
    font-weight: 800;
    }

    h4 {
      color: #1a1a1a;
      font-size: 16px;
      font-weight: 800;
      }

    p {
      color: #3f3f3f;
    font-size: 16px;
    line-height: 1.5;
    }

    a {
      color: #007bff;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
 
