<div class="container-fluid welcome">
  <div class="welcome-content">
    <video preload="auto" autoplay muted loop id="background-video">
      <source src="../../../assets/videos/Website intro.mp4" type="video/mp4">
  </video>
  </div>
</div>



<!--Associates-->
<app-assosciates></app-assosciates>

<!--Buisness-->

<div class="container-fluid main-first">
    <h2>Penaeus Monodon</h2>
    <p>
      Commonly known as the giant tiger prawn or black tiger shrimp, is a shrimp species that is considered premium and holds significant economic & culinary importance.
       Native to the Indo-Pacific region, renowned for its large size, distinctive dark stripes on its shell, and succulent meat. 
    </p>

    <button type="button" class="btn btn-outline-info" routerLink="/about">
      Learn More <i class="bi bi-arrow-right-square-fill"></i>
    </button>
  </div>
  

   <!--Shrimponomy-->
   <div class="container-fluid main-third" id="shrimponomy">
    <h2>Monodon 101</h2>
    <p>
      Dive into a treasure trove of information on shrimp species, 
      pond management, water quality, disease prevention, and 
      sustainable practices. Our articles, guides, and expert
       insights cover everything from selecting the right shrimp
        species for your farm to optimizing feeding schedules 
        and maintaining healthy shrimp populations. We believe 
        that well-informed farmers are the key to a 
      sustainable and prosperous shrimp aquaculture industry.
    </p>
    <button type="button" class="btn btn-outline-info" routerLink="/resource">
      Learn More <i class="bi bi-arrow-right-square-fill"></i>
    </button>
  </div>

  <!--Sustainability-->

  <div class="container-fluid main-second" id="sustainability">
    <h2>Sustainable Environment</h2>
    <p>
      A sustainable environment is crucial to ensure the species'
       long-term viability by managing water quality, preventing pollution, and minimizing negative
        impacts on surrounding habitats. 
        Sustainable practices support healthy growth and reproduction of P. monodon, while also 
        safeguarding both ecological conservation and the continued success
         of P. monodon cultivation.  
    </p>
    <button type="button" class="btn btn-outline-info" routerLink="/sustain">
      Learn More <i class="bi bi-arrow-right-square-fill"></i>
    </button>
  </div>

 


<!--Contact-->
<app-contact></app-contact>
