<div class="container-fluid welcome">
  <div class="welcome-content">
    <img src="../assets/images/UniBio_Logo_Bg.png" />
    <p>Leading the way in sustainable shrimp production</p>
    <button type="button" class="btn btn-outline-info">
      Learn More<i class="bi bi-arrow-right-square-fill"></i>
    </button>
  </div>
</div>

<!--About-->

<div class="container main">
  <div class="main-first">
    <h2>About Us</h2>
    <p>
      "At UniBio, we are committed to sustainable shrimp production through
      responsible breeding practices and the supply of high-quality shrimp
      larvae and feed. With years of experience in the industry, our team of
      experts are dedicated to supporting farmers in achieving their production
      goals."
    </p>

    <button class="btn" routerLink="/about">
      Read More <i class="bi bi-arrow-right-square-fill mx-3"></i>
    </button>
  </div>

  <!--Sustainability-->

  <div class="container main-second" id="sustainability">
    <h2>Sustainability</h2>
    <div class="main-second-card">
      <div class="card" style="width: 18rem">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Contact-->
<app-contact></app-contact>
