<div class="container-fluid welcome">
  <div class="welcome-content">
    <img src="../assets/images/UniBio_nobg.png" />
    <p>Good Genetics to grow with</p>
    <button type="button" class="btn btn-outline-info" routerLink="/welcome">
      Learn More<i class="bi bi-arrow-right-square-fill"></i>
    </button>
  </div>
</div>

<div>
</div>

<!--Established-->
<div class="container-fluid main-esta">
  <div class="card-container">
    <div class="card"> 
      <img class="card-img-top" src="../assets/images/bag_svg.svg" alt="svgbag"/>
        <div class="card-body text-center">
      <p class="card-text1">Year Established</p>
      <p class="card-text2">2017</p>
          </div>
      </div>
   <div class="card">
    <img class="card-img-top" src="../assets/images/Person_svg.svg" alt="svgperson" />
    <div class="card-body text-center">
      <p class="card-text1">Our Farmer's</p>
      <p class="card-text2">1000+</p>
          </div>
  </div>
   <div class="card">
    <img class="card-img-top" src="../assets/images/Shrimp_svg.svg" alt="svgshrimp" />
    <div class="card-body text-center">
      <p class="card-text1">Average Sale's per year</p>
      <p class="card-text2">500M+</p>
          </div>
  </div>
   </div>
  </div>

<!--Buisness-->

<div class="container-fluid main-first">
    <h2>Penaeus Monodon</h2>
    <p>
      Commonly known as the giant tiger prawn or black tiger shrimp, is a species of marine crustacean that holds significant economic and culinary importance.
    Native to the Indo-Pacific region, renowned for its large size, 
    distinctive dark stripes on its shell, and succulent meat.  
    </p>

    <button type="button" class="btn btn-outline-info" routerLink="/about">
      Learn More <i class="bi bi-arrow-right-square-fill"></i>
    </button>
  </div>

  <!--Sustainability-->

  <div class="container-fluid main-second" id="sustainability">
    <h2>Sustainable Environment</h2>
    <p>
      A sustainable environment is crucial to ensure the species'
       long-term viability by managing water quality, preventing pollution, and minimizing negative
        impacts on surrounding habitats. 
        Sustainable practices support healthy growth and reproduction of P. monodon, while also 
        safeguarding both ecological conservation and the continued success
         of P. monodon cultivation.  
    </p>
    <button type="button" class="btn btn-outline-info" routerLink="/sustainability">
      Learn More <i class="bi bi-arrow-right-square-fill"></i>
    </button>
  </div>

  <div class="container-fluid main-third" id="shrimponomy">
    <h2>Monodon 101</h2>
    <p>
      Dive into a treasure trove of information on shrimp species, 
      pond management, water quality, disease prevention, and 
      sustainable practices. Our articles, guides, and expert
       insights cover everything from selecting the right shrimp
        species for your farm to optimizing feeding schedules 
        and maintaining healthy shrimp populations. We believe 
        that well-informed farmers are the key to a 
      sustainable and prosperous shrimp aquaculture industry.
    </p>
    <button type="button" class="btn btn-outline-info" routerLink="/resource">
      Learn More <i class="bi bi-arrow-right-square-fill"></i>
    </button>
  </div>


<!--Contact-->
<app-contact></app-contact>
