.main-first
{
  position: relative;
  background-image: url("../../../assets/images/Monodon.jpeg");
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100%;
  background-blend-mode: multiply;
  background-size:cover;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: #f2f2f2e0;
  font-size: 25px;
  font-weight: 500;
}
.main-first h2 {
  color: #e79766;
  font-weight: bold;
  padding: 3rem 3rem 3rem 0;
  font-size: 3.5rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }


  /* Media queries for mobile phone screens*/
@media (max-width: 480px) {
     .main-first{
      height: 55vh;
      font-size: 16px;
      font-weight: 400;
      background-size:cover ;
      background-repeat: no-repeat; 
      background-position: center right 30%;
      h2{
          font-size: 23px;
          padding: 0 0 1rem 0;
      }
    }
      
     }




.main-second{
  background-image: url("../../../assets/images/Windmill.jpg");
  height: 120vh;
  width: 100%;
  background-size:cover;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
 h2{
  color: #91ff00;
  font-weight: bold;
  padding: 3rem 3rem 3rem 0;
  font-size: 3.5rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    }
   
}

 /* Media queries for mobile phone screens*/
 @media (max-width: 480px) {
  .main-second{
      height: 55vh;
      background-size:cover ;
      background-repeat: no-repeat; 
      background-position: center;
      font-size: 16px;
      font-weight: 400;
      h2{
        font-size: 23px;
        padding: 2rem 1rem 1rem 0;
    }
  }


 }
.main-third{
  background-image: url("../../../assets/images/Wallpaper Edit.png");
  height: 120vh;
  width: 100%;
  background-size:cover;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
    h2{
      color: #faf61e;
        font-weight: bold;
        padding: 3rem 3rem 3rem 0;
        font-size: 3.5rem;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        
    }
  }

   /* Media queries for mobile phone screens*/
 @media (max-width: 480px) {
  .main-third{
      height: 68vh;
      background-size:cover ;
      background-repeat: no-repeat; 
      background-position: center;
      font-size: 16px;
      font-weight: 400;
      h2{
        font-size: 23px;
        padding: 2rem 1rem 1rem 0;
    }
  }
}


.main-first .btn {
  font-size: 20px;
  margin-top: 1rem;
  color: #87cefa;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  &:hover {
    color: #ffffff;
  }
  .bi {
    text-align: center;
    font-size: 28px;
    margin-left: 1rem;
  }
}

/* Media queries for mobile phone screens*/
@media (max-width: 480px) {
  .main-first .btn {
    font-size: 15px;
    margin-top: 0.5rem;
    .bi {
      font-size: 18px;
      margin-left: 0.5rem;
    }
  }
}

.main-second .btn{
   font-size: 20px;
margin-top: 1rem;
color: #87cefa;
display: flex;
position: relative;
justify-content: center;
align-items: center;
&:hover {
  color: #ffffff;
}
.bi {
  text-align: center;
  font-size: 28px;
  margin-left: 1rem;
}
}

/* Media queries for mobile phone screens*/
@media (max-width: 480px) {
  .main-second .btn {
    font-size: 15px;
    margin-top: 0.5rem;
    .bi {
      font-size: 18px;
      margin-left: 0.5rem;
    }
  }
}
.main-third .btn{
  font-size: 20px;
margin-top: 1rem;
color: #87cefa;
display: flex;
position: relative;
justify-content: center;
align-items: center;
&:hover {
 color: #ffffff;
}
.bi {
 text-align: center;
 font-size: 28px;
 margin-left: 1rem;
}
}
/* Media queries for mobile phone screens*/
@media (max-width: 480px) {
  .main-third .btn {
    font-size: 15px;
    margin-top: 0.5rem;
    .bi {
      font-size: 18px;
      margin-left: 0.5rem;
    }
  }
}



.main-second {
  padding-bottom: 5rem;
  &-card {
    display: flex;
    gap: 2rem;
    .card {
      border-radius: 12px;
    }
  }
}
.welcome {
  height: 100vh;
  width: 100%;
  background-size: cover;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
}
.welcome::before {
  content: "";
  background-image: url("../../../assets/images/Picture22.png");
  opacity: 0.6; 
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
  .welcome-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10%;
    img {
      object-fit:cover;
      height: 100%;
      width: 35%;
    }
    p {
      position: absolute;
      top: 60%;
      font-size: 25px;
      font-weight: 800;
      color: #fa0464;
    }
    button {
      position: absolute;
      top: 70%;
      font-size: 20px;
      .bi {
        margin-left: 1rem;
      }
      &:hover {
        color: #ffffff;
      }
    }
  }

  /* Media queries for tablet screens*/
@media (max-width: 768px) {
  .welcome-content {
    top:15%;
    
    img {
    width: 75%;
  }
   p {
    font-size: 40px;
  }
  button {
    top: 80%;
    font-size: 20px;
  }
}
}

/* Media queries for mobile phone screens*/
@media (max-width: 480px) {
  .welcome{
    height:55vh;
  }
  .welcome-content {
    top:25%;

    img {
      top: 100%;
  
  }
   p {
    font-size: 25px;
  }
  button {
    top:80%;
    font-size: 15px;
  }
  .bi {
    margin-left: 0.5rem;
  }
}
}



  .main-asso
  {
    position: relative;
    font-size: 25px;
    font-weight: 500;
    h2{
      color: #3aeb8c;;
      padding: 1rem 0rem 0 0;
        font-weight: bold;
        font-size: 3.5rem;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    }
  }
  
   /* Media queries for mobile phone screens*/
 @media (max-width: 480px) {
  .main-asso{
      font-size: 16px;
      font-weight: 400;
      h2{
        font-size: 23px;
        padding: 2rem 1rem 1rem 0;
    }
  }
}

  
  .slideshow-background {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.8));
    backdrop-filter: blur(8px); /* Adjust the blur intensity as needed */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .slideshow-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .slide-image {
    max-width: 100%;
  }
  
  /* Hide the images by default */
  .mySlides {
    display:block;
    position: relative;
    margin: 0rem 2rem 2rem 2rem;
    width:75%;
  }
  
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
  }
  
  .prev {
    left: 0;
    border-radius: 3px;
  }
  .next {
    right: 0;
    border-radius: 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  /* Caption text */
  .text1 {
    color: #f2f2f2;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 24px;
    width: 100%;
    text-align: center;
  }
  .text2 {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 1px;
    width: 100%;
    text-align: center;
  }
  
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  /* Fading animation */
  .fade-once {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
  }

  /* Styling for mobile-specific content */
.mobile-image-scroll-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  padding: 10px 0; 
}

.mobile-slide {
  flex: 0 0 auto;
  width: 80vw; 
  scroll-snap-align: start;
  margin-right: 10px; 
}

.mobile-slide-image {
  width: 100%;
  height: auto; 
}

.caption-container {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Background color for captions */
  color: #fff; /* Text color for captions */
  padding: 30px; /* Adjust padding as needed */
  box-sizing: border-box;
  
}

.text1{
  margin:0; 
  font-size:18px;
  padding:5px;
}
 .text2 {
  font-size:14px;
  margin: 0; 
}

.mobile-slide {
  position: relative; /* Make the parent container relative for absolute positioning */
  width: 100%;
  height: 300px; /* Adjust the height as needed */
}

  .main-esta{
    background: linear-gradient(#e79766,rgb(228, 84, 74));
  .card-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
    padding: 1rem;
    .card {
      position: relative;
      margin: 3rem;
      background-color: #f2f2f2;
      transition: transform 0.3s ease; 
      overflow: hidden; 
    }
  }

  .card:hover{
    transform: scale(1.05);
    transform-origin: center center;
  }

  img{
    width:100%;
    height:100%;
    padding: 20px;
  }

  .card-text1{
    color:rgb(255, 153, 0);
    font-family: 'Bauhaus Light';
    font-size: 21px;
    font-weight:800;
  }
  .card-text2{
    color:rgb(68, 68, 68);
    font-size: 28px;
    font-weight:800;
  }

  /* Media Query for screens between 768px and 1199px */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-container {
    grid-template-columns: 33% 33% 33%;
  }
}

/* Media Query for screens up to 767px */
@media screen and (max-width: 767px) {
  .card-container {
    grid-template-columns: 100%;
  }
  
  .card {
    margin: 1rem;
  }


}
  }