<div id="mySidenav" class="sidenav">
    <img src="../assets/images/UniBio_nobg.png" />
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
          <a class="nav-link" routerLink="" (click)="navigateAndCloseMenu('/')">Home</a><hr>
          <a class="nav-link" routerLink="/welcome" (click)="navigateAndCloseMenu('/welcome')">About Us</a><hr>
          <a class="nav-link" routerLink="/sustain" (click)="navigateAndCloseMenu('/sustain')">Sustainability</a><hr>
          <a class="nav-link" routerLink="/monodon" (click)="navigateAndCloseMenu('/monodon')">Monodon 101</a><hr>
          <a class="nav-link" routerLink="/contact" (click)="navigateAndCloseMenu('/contact')">Contact</a><hr>
  </div>
